{% layout "layout.liquid" %}
{% block content %}
  <div class="container">
    <h2 class="display-6">{{ sales[0].plant.name }} for sale</h2>
    <div class="row">
      {% for sale in sales %}
        <div
          class="card plant-card mb-3 me-3"
          id="{{ sale.name }}"
          style="width: 18rem;">
          <h5 class="card-header">{{ sale.plant.name }}</h5>
          <div class="card-body">
            <h5 class="card-title">
              Seller:
              <a href="/auth/{{sale.seller.id}}">{{ sale.seller.username }}</a>
            </h5>
            <p class="card-text">
              Body: {{ plant.imageLink }}
            </p>
            <p class="card-img">
              <img src="{{plant.imageLink}}">
            </p>
            <a href="/plants/{{ plant.id }}" class="btn btn-info">
              View {{ plant.title }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}