{% layout "layout.liquid" %}
{% block content %}
  <div class="container">
    <h2 class="display-6">{{ title }} Sale Postings</h2>
    <div class="row">
      {% for sale in sales %}
        <div
          class="card plant-card mb-3 me-3"
          id="{{ sale.name }}"
          style="width: 18rem;">
          <h5 class="card-header">{{ sale.plant.name }}</h5>
          <div class="card-body">
            <h5 class="card-title">
              Seller:
              <a href="/auth/{{sale.seller.id}}">{{ sale.seller.username }}</a>
            </h5>
            <p class="card-text">
              Price: ${{ sale.price }}
            </p>
            <img class="card-img" src="{{sale.image}}">
            {% if sale.seller == userId %}
              <hr>
              <div class="btn-group">
                {%- comment -%}
                first button will take us to the edit page
                second will actually be a form, that calls our delete route
                {%- endcomment -%}
                <a href="/sale/edit/{{sale.id}}" class="btn btn-primary">Edit</a>
                <form action="/sale/{{sale.id}}?_method=DELETE" method="POST">
                  <input
                    type="submit"
                    class="btn btn-danger"
                    value="Delete {{sale.name}}">
                </form>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}