{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h1>{{ sale.plant.name }}</h1>
      <div class="card" style="width: 50rem;">
        <h5 class="card-header">{{ plant.scientificName }}</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <dl class="row">
                <dt class="col-sm-3 mb-4">Seller</dt>
                <dd class="col-sm-9">
                  <a href="/auth/{{sale.seller.id}}">{{ sale.seller.username }}</a>
                </dd>
                <dt class="col-sm-3 mb-4">Price</dt>
                <dd class="col-sm-9">{{ sale.price }}</dd>
                <dt class="col-sm-3 mb-4">Maturity</dt>
                <dd class="col-sm-9">{{ sale.age }}</dd>
                <dt class="col-sm-3">Height</dt>
                <dd class="col-sm-9">{{ sale.height }}</dd>
              </dl>
            </div>
            <div class="col-3">
              {% if sale.image == '' %}
                <img class="rounded img-fluid" src="https://www.pngitem.com/pimgs/m/13-133991_plants-leaf-flowering-silhouette-plant-free-download-plant.png">
              {% elsif sale.image %}
                <img class="rounded img-fluid" src="{{sale.image}}">
              {% else %}
                <img class="rounded img-fluid" src="https://www.pngitem.com/pimgs/m/13-133991_plants-leaf-flowering-silhouette-plant-free-download-plant.png">
              {% endif %}
            </div>
          </div>
          <a href="/message/{{ sale.seller.id }}" class="btn btn-info">
            Message {{ sale.seller.username }}
          </a>
        </div>
      </div>
    </article>
  </div>
{% endblock %}