{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h1>{{ plant.name }}</h1>
      <div class="card" style="width: 50rem;">
        <h5 class="card-header">{{ plant.scientificName }}</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <dl class="row">
                <dt class="col-sm-3 mb-4">Category</dt>
                <dd class="col-sm-9">{{ plant.category }}</dd>
                <dt class="col-sm-3 mb-4">Watering</dt>
                <dd class="col-sm-9">{{ plant.water }}</dd>
                <dt class="col-sm-3">Light</dt>
                <dd class="col-sm-9">{{ plant.light }}</dd>
              </dl>
            </div>
            <div class="col-3">
              <img class="rounded img-fluid" src="{{plant.imageLink}}">
            </div>
          </div>
          <a href="/sale/new/{{ plant.id }}" class="btn btn-info">
            Sell a {{ plant.name }}
          </a>
          <a href="/sale/plant/{{ plant.id }}" class="btn btn-info">
            View Sales
          </a>
        </div>
      </div>
    </article>
  </div>
{% endblock %}