{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h1>{{ plant.name }}</h1>
      <h2>
        {{ plant.name }} -
      </h2>
      <div class="card" style="width: 18rem;">
        <h5 class="card-header">{{ plant.name }}</h5>
        <div class="card-body">
          <h5 class="card-title">
            Latin name: {{ plant.scientificName }}
          </h5>
          <p class="card-text">
            Body: {{ plant.imageLink }}
          </p>
          <p class="card-img">
            <img src="{{plant.imageLink}}">
          </p>
          <a href="/plants/{{ plant.id }}" class="btn btn-info">
            View {{ plant.title }}
          </a>
        </div>
      </div>
    </article>
  </div>
{% endblock %}