{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h1>{{ plant.name }}</h1>
      <div class="card" style="width: 50rem;">
        <h5 class="card-header">{{ plant.scientificName }}</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="card-title mb-4">
                Category: {{ plant.category }}
              </h4>
              <h5 class="card-text mb-5">
                Watering: {{ plant.water }}
              </h5>
              <h5 class="card-text mb-5">
                Light: {{ plant.light }}
              </h5>
            </div>
            <div class="col">
              <img class="rounded img-fluid" src="{{plant.imageLink}}">
            </div>
          </div>
          <a href="/sale/new/{{ plant.id }}" class="btn btn-info">
            Sell a {{ plant.name }}
          </a>
          <a href="/sale/{{ plant.id }}" class="btn btn-info">
            View Sales
          </a>
        </div>
      </div>
    </article>
  </div>
{% endblock %}